<!DOCTYPE html>
<html layout:decorate="~{layout/auth-layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>CINEMA - Đăng nhập</title>
</head>
<body>
<div layout:fragment="form">
  <form class="w-[400px] mt-6 flex flex-col justify-center items-center"
        id="login-form"
        method="post"
        th:action="@{/login}"
  >
    <div class="mt-4 w-full">
      <label class="block text-[13px] text-label font-medium font-comfortaa uppercase mb-4" for="username">
        Email <span class="text-[13px] text-red-800 font-medium font-comfortaa">*</span>
      </label>
      <input
        autofocus
        class="w-full form-input bg-transparent placeholder-placeHolder text-label font-medium font-comfortaa border-0 h-8 focus:border-0 focus:ring-0 focus:outline-none"
        id="username"
        name="username"
        placeholder="yourmail@gmail.com" required
        type="text"
      >
      <div class="w-full h-[1px] bg-placeHolder"></div>
    </div>
    <div class="mt-8 w-full">
      <label class="block text-[13px] text-label font-medium font-comfortaa uppercase mb-4" for="password">
        Mật khẩu <span class="text-[13px] text-red-800 font-medium font-comfortaa">*</span>
      </label>
      <input
        class="w-full form-input bg-transparent placeholder-placeHolder text-label font-medium font-comfortaa border-0 h-8 focus:border-0 focus:ring-0 focus:outline-none"
        id="password"
        name="password"
        placeholder="**********"
        required
        type="password"
      >
      <div class="w-full h-[1px] bg-placeHolder"></div>
    </div>
    <div class="mt-1 w-full font-comfortaa flex justify-start text-[12px] text-red-800" th:if="${error}">* Đăng nhập
      thất bại: sai tên tài khoản hoặc mật khẩu.
    </div>
    <div class="mt-4 w-full flex justify-end items-end">
      <a class="block text-[13px] text-notice font-bold font-comfortaa mb-4 cursor-pointer" href="/auth/forgot-password">
        Quên mật khẩu
      </a>
    </div>
    <button class="text-white text-[15px] w-40 horizontal-line rounded-3xl font-inter font-semibold" type="submit">
      Đăng nhập
    </button>
    <div class="mt-4 w-full flex justify-center items-center space-x-2">
      <label class="block text-[12px] text-white font-bold font-comfortaa mb-4">Chưa có tài khoản?</label>
      <label class="block text-[12px] text-primary font-bold font-comfortaa mb-4 cursor-pointer">
        <a th:href="@{${register_page}(redirect_uri=${registered_uri})}">Đăng ký</a>
      </label>
    </div>
  </form>
</div>
</body>
</html>