<!DOCTYPE html>
<html layout:decorate="~{layout/auth-layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>CINEMA - Đăng ký</title>
</head>
<body>
<div layout:fragment="form">
  <!--/*@thymesVar id="register" type="com.example.movieofficial.api.user.dtos.RegisterRequest"*/-->
  <form class="w-[400px] mt-4 flex flex-col justify-center items-center"
        id="login-form"
        method="post"
        th:action="@{/auth/register(redirect_uri=${redirect_uri})}"
        th:object=" ${register}"
  >
    <div class="mt-4 w-full">
      <label class="block text-[13px] text-label font-medium font-comfortaa uppercase mb-3" for="fullName">
        Tên người dùng <span class="text-[13px] text-red-800 font-medium font-comfortaa">*</span>
      </label>
      <input
        autofocus
        class="w-full form-input bg-transparent placeholder-placeHolder text-label font-medium font-comfortaa border-0 h-8 focus:border-0 focus:ring-0 focus:outline-none"
        id="fullName"
        name="fullName"
        placeholder="Tên nguời dùng"
        required
        th:field="*{fullName}"
        title="Vui lòng tên người dùng."
        type="text"
      >
      <div class="w-full h-[1px] bg-placeHolder"></div>
    </div>
    <div class="mt-6 w-full">
      <label class="block text-[13px] text-label font-medium font-comfortaa uppercase mb-3" for="username">
        Email <span class="text-[13px] text-red-800 font-medium font-comfortaa">*</span>
      </label>
      <input
        autofocus
        class="w-full form-input bg-transparent placeholder-placeHolder text-label font-medium font-comfortaa border-0 h-8 focus:border-0 focus:ring-0 focus:outline-none"
        id="username"
        name="username"
        placeholder="yourmail@gmail.com" required
        th:field="*{email}"
        type="email"
      >
      <div class="w-full h-[1px] bg-placeHolder"></div>
      <div class="mt-1 font-comfortaa text-[12px] text-red-800" th:if="${emailTaken}">Email đã được sử dụng.</div>
    </div>
    <div class="mt-6 w-full">
      <label class="block text-[13px] text-label font-medium font-comfortaa uppercase mb-3" for="password">
        Mật khẩu <span class="text-[13px] text-red-800 font-medium font-comfortaa">*</span>
      </label>
      <input
        class="w-full form-input bg-transparent placeholder-placeHolder text-label font-medium font-comfortaa border-0 h-8 focus:border-0 focus:ring-0 focus:outline-none"
        id="password"
        name="password"
        placeholder="Mật khẩu"
        required
        th:field="*{password}"
        type="password"
      >
      <div class="w-full h-[1px] bg-placeHolder"></div>
      <div class="mt-1 font-comfortaa text-[12px] text-red-800" th:errors="*{password}"
           th:if="${#fields.hasErrors('password')}"></div>
    </div>
    <div class="mt-6 w-full">
      <label class="block text-[13px] text-label font-medium font-comfortaa uppercase mb-3" for="confirmPassword">
        Nhập lại mật khẩu <span class="text-[13px] text-red-800 font-medium font-comfortaa">*</span>
      </label>
      <input
        class="w-full form-input bg-transparent placeholder-placeHolder text-label font-medium font-comfortaa border-0 h-8 focus:border-0 focus:ring-0 focus:outline-none"
        id="confirmPassword"
        name="confirmPassword"
        placeholder="Nhập lại mật khẩu"
        required
        th:field="*{confirmPassword}"
        type="password"
      >
      <div class="w-full h-[1px] bg-placeHolder"></div>
      <div class="mt-1 font-comfortaa text-[12px] text-red-800" th:if="${confirmInvalid}">Mật khẩu không trùng khớp.
      </div>
    </div>
    <div class="mt-4 w-full flex justify-start items-start">
      <input
        class="appearance-none w-4 h-4 mr-2 bg-gray-500 rounded-full checked:bg-primary checked:shadow-[inset_0_0_0_2px_rgba(107,114,128)] cursor-pointer"
        id="agreeTerms"
        type="checkbox"
        value="">
      <label class="block text-[13px] text-placeHolder font-bold font-comfortaa mb-3" for="agreeTerms">
        I agree to the
        <span class="text-primary font-bold font-comfortaa">Terms</span>,
        <span class="text-primary font-bold font-comfortaa">Privacy Policy</span> and
        <span class="text-primary font-bold font-comfortaa">Fees</span>
      </label>
    </div>
    <button class="mt-4 mb-3 text-white text-[15px] w-[160px] horizontal-line rounded-3xl font-inter font-semibold"
            type="submit">Đăng
      ký
    </button>
  </form>
</div>
</body>
</html>