<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Document</title>
</head>
<!-- https://www.pwer-dev.id.vn/assets/images/Logo.png -->

<body>
<div style="">
  <div
    style="max-width: 600px; margin:0 auto; background-image: linear-gradient(  rgba(0, 18, 50, 0.8),rgba(0, 18, 50, 0.8) ) ,url('https://www.pwer-dev.id.vn/assets/images/bg-01.jpg');  background-position: center ;display: block; background-repeat: no-repeat;;background-size: cover;">
    <table cellpadding="0" cellspacing="0"
           style="margin:0;border-spacing:0;border:0;padding:0;width:100%;border-collapse:collapse; color: white;"
           width="100%">
      <tbody>
      <tr
        style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
        <td
          style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
          <table cellpadding="0" cellspacing="0"
                 style="margin:0;border-spacing:0;border:0;padding:0;width:100%;border-collapse:collapse"
                 width="100%">

            <tbody>
            <tr
              style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
              <td height="56px"
                  style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit"></td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr
        style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
        <td
          style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
          <table cellpadding="0" cellspacing="0"
                 style="margin:0;border-spacing:0;border:0;padding:0;width:100%;border-collapse:collapse; color: white;"
                 width="100%">
            <tbody>
            <tr
              style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
              <td style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit"
                  width="236.5px">
              </td>
              <td
                style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">


                <a href="https://www.pwer-dev.id.vn">
                  <img alt="" height="60px"
                       src="https://www.pwer-dev.id.vn/assets/images/Logo.png" srcset="">
                </a>

              </td>
              <td style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit"
                  width="236.5px">
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr
        style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit ;">
        <td
          style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">

          <table cellpadding="0" cellspacing="0"
                 style="margin:0;border-spacing:0;border:0;padding:0;width:100%;border-collapse:collapse; color: white;"
                 width="100%">
            <tbody>
            <tr
              style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
              <td style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit"
                  width="100.5px">
              </td>
              <td
                style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                <table
                  style="box-shadow: 4px 4px 50px 0 rgba(0,0,0,0.3); background-color: rgba(5, 17, 63, 0.8); ">
                  <tbody>
                  <tr
                    style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">

                    <td colspan="3" height="50px"
                        style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                    </td>
                  </tr>
                  <tr
                    style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                    <td
                      style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                      <table cellpadding="0" cellspacing="0"
                             style="margin:0;border-spacing:0;border:0;padding:0;width:100%;border-collapse:collapse; color: white;"
                             width="100%">
                        <tbody>
                        <tr
                          style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                          <td
                            style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit"
                            width="40px">
                          </td>
                          <td
                            style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                            <table cellpadding="0" cellspacing="0"
                                   style="margin:0;border-spacing:0;border:0;padding:0;width:100%;border-collapse:collapse; color: white;"
                                   width="100%">
                              <tbody>
                              <tr
                                style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                                <td
                                  style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                                  <p style="color:white;">Xin chào, <span th:text="${name}"></span></p>
                                  <p style="color:white;"> Cảm ơn bạn đã đăng ký và tin tuưởng sử dụng những dịch vụ của
                                    chúng tôi.</p>

                                </td>
                              </tr>
                              <tr
                                style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                                <td height="24px"></td>
                              </tr>
                              <tr
                                style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                                <td
                                  style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                                  Để hoàn tất quá trình đăng ký, vui lòng xác minh địa chỉ email của bạn bằng cách nhấp
                                  vào liên kết:
                                  <p th:text="${url}"><a th:href="${url}"></a></p>
                                  hoặc click
                                  vào nút <span style="color:#31D7A9">Xác thực</span>
                                  bên dưới. <br>
                                  Cảm ơn bạn và chúc bạn có những trải nghiệm tuyệt vời với THE CINEMA.
                                </td>
                              </tr>
                              <tr
                                style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                                <td height="24px"></td>
                              </tr>
                              <tr
                                style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                                <td
                                  style="text-align: center;margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                                  <p>
                                    <a
                                      style="padding: 12px 24px; max-width: 120px;background-color: #31D7A9;text-decoration: none; color: white; border-radius: 40px; font-weight: 700;"
                                      th:href="${url}">
                                      Xác thực
                                    </a>
                                  </p>
                                </td>
                              </tr>
                              </tbody>
                            </table>

                          </td>
                          <td
                            style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit"
                            width="40px">
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr
                    style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">

                    <td colspan="3" height="50px"
                        style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
              <td style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit"
                  width="100.5px">
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr
        style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">

        <td>
          <table style="color: white;" width="100%">
            <tbody>
            <tr
              style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
              <td style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit"
                  width="100.5px">
              </td>
              <td
                style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit;text-align: center;">
                <p>Trân trọng.</p>
                <p>Đội ngũ <span style="border-bottom: 1px solid #31AFD7;">THE
                                                    CINEMA.</span></p>
              </td>
              <td style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit"
                  width="100.5px">
              </td>
            </tr>
            </tbody>
          </table>
        </td>

      </tr>
      <tr
        style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
        <td height="56px"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>

</html>